/* Resetting default styles and setting font properties */

body {
  margin: 0; /* Remove default margin */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; /* Setting a default font stack for the body text */
  -webkit-font-smoothing: antialiased; /* Improving font rendering on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Improving font rendering on macOS */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; /* Setting a font stack for code elements */
}

.btn {
  width: 20vh; /* Setting width for elements with class 'btn' */
  height: 5vh; /* Setting height for elements with class 'btn' */
}
